*{
    margin: .2em;
    padding: 0;
}
table{
    border-collapse: collapse;
    margin: 1em;
}
tr, td {
    border: 1px solid black ;
    width: 20px;
    height: 20px;
    border-spacing: 0;    
}
tr > td:nth-child(odd){
    background-color: black;
}
