body{
    width: max-content;
    background-image: url(seabackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#fishfish, #fishfish1, #fishfish2{
    position: relative;
    width: 80px;
    transform: rotateY(180deg);
    animation-name: fishie;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#fishfish{
    margin: 3em;
}
#fishfish1{
    margin: 12em;
    animation-delay: 2s;
}
#fishfish2{
    margin: 1em;
    animation-delay: 1s;
}
@keyframes fishie{
    
    0%{
        left: 0;
    }
    45%{
        transform: rotateY(180deg);
    }
    50%{
        left: 30em;
        transform: rotateY(0deg);
    }
    95%{
        transform: rotateY(0deg);
    }
    100%{
        left: 0;
        transform: rotateY(180deg);
    }
    
}
.starfish{
    position: relative;
    width: 50px;
}
#oneStarfish{
    bottom: 20em;
    right: 15em;
}
#twoStarfish{
    bottom: 20em;
    right: -20em;
}

.bubbles{
    position: relative;
    width: 60px;
    animation-name: bubbles;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

#oneBubbles{
    right: 30em;
    animation-duration: 20s;
}
#twoBubbles{
    right: 12em;
    animation-duration: 12s;
}
#threeBubbles{
    animation-duration: 30s;
}

@keyframes bubbles{
    0%{
        bottom: 0;
    }
    25%{
        bottom: 110px;
    }
    50%{
        bottom: 220px;
    }
    75%{
        bottom: 330px;
    }
    100%{
        bottom: 440px;
    }
}