* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.logo{
    width: 20vw;
    height: 20vw;
}

.header{
    height: 45vh;
}

.navbar{
    height: 12vh;
    padding-left: 5vh;
    background-color: aquamarine;
    font-size: 1.4vw;
    align-items: center;
    display: flex;
}

#mainNavBar ul{
    display: block;
    list-style-type: none;
    display: inline-block;
    column-gap: 6em;
    display: flex;
    position: sticky;
    top: 6vh;
}

.mainNavBar{
    align-items: center;
}

.mainNavBar ul li{
    margin: 0 3vw 0;
}

.mainBackground{
    display: flex;
    align-items: center;
    height: 45vh;
    gap: 14vw;
}

.mainNavBar ul li a{
    position: relative;
    
}
a{
    display: flex;
    align-items: center;
}
.mainNavBarAllergens{
    position: relative;
    height: 5vw;
    right: 1vw;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

a:hover > .mainNavBarAllergens{
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.backgroundImage{
    width: 100%;
    height: 45vh;
    background-color: white;
    background-image: url("../media/dessertBackground.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.title{
    font-size: 5vw;
    color: white;
    transition: transform 0.4s ease-in-out;
    text-shadow: 
    1px 0px 1px #ffa673, 0px 1px 1px #ffc7a5, 
    2px 1px 1px #ffa673, 1px 2px 1px #ffc7a5,
    3px 2px 1px #ffa673, 2px 3px 1px #ffc7a5,
    4px 3px 1px #ffa673, 3px 4px 1px #ffc7a5,
    5px 4px 1px #ffa673, 4px 5px 1px #ffc7a5,
    6px 5px 1px #ffa673, 5px 6px 1px #ffc7a5,
    7px 6px 1px #ffa673;
}
.title:hover{
    transform: scale(1.3);
}


.intro{
    max-width: 100%;
    line-break: auto;
    white-space:  initial;
    margin: 0 20vw 2vw;
}

.boxContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box{
    display: flex;
    align-items: center;
    width: 20%;
    height: 10vw;
    background-color: #f5f5f5;
    padding: 2vw;
    margin: 2vw ;
    font-size: 1.4vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.box:hover, .imageNextToMap:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px, rgba(0, 0, 0, 0.3) 0px 14px 28px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
    transform: translate(0, -5px);
}

.bakingImageDivide{
    width: 100%;
    height: 30vh;
    background-image: url("../media/baking.jpg");
    position: relative;
}
.dessertSelectTitle{
    font-size: 3.2vw;
    text-shadow: 4px 10px 6px rgba(0,0,0,0.6), 0px -5px 35px rgba(255,255,255,0.7);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.mainContent{
    
    height: 100%;
    width: 100%;
}

.desserts{
    float: right;
    width: 60%;
    margin: 2vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.dessertBoxTitle{
    font-size: 3vw;
    margin: 0;
    margin: 2vw 4vw 2vw 4vw;
    float: left;
    width: 20%;
    color: white;
    text-shadow: 4px 10px 6px rgba(0,0,0,0.3), 0px -5px 35px rgba(255,255,255,0.4);

}
.mapContainer:hover .imageNextToMap {
    visibility: visible;
}

.imageNextToMap{
    width: 30vw;
    height: 60vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: 20vh;
    background-color: white;
    float : left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.dessertImage{
    transition: .3s ease-in-out;
}

.dessertImage:hover{
    transform: scale(1.05);
}

.imageNextToMap p{
    margin-top: 1vw;
    font-size: 1.2vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.imageNextToMap h2{
    margin: 0;
    margin-top: 1vw;
    font-size: 2vw;
    color: white;
    background-color: #ef7a1a;
    border-radius: 10px;
    padding: 10px;
    
}

.hidden{
    display: none;
}

#area1:hover ~ .imageNextToMap{
    border: 1px solid green;
    background-color: red;
}

footer{
    width: 100% !important;
    overflow: hidden;
}