* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

html {
    height: 100%;
}

body {
    background: #F5B17A;
}

.fixed {
    position: fixed;
}


.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 2.1vw;
    background-color: #F2964B;
    padding-left: 10px;
    padding-right: 20px;
    z-index: 1;
}

#weblogo {
    width: 11vh;
    filter: drop-shadow(5px 5px 3px #222);
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

#mainNavBar a,
.header h1,
.hidden-div>p,
.pages a,
footer {
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
}

.header h1 {
    text-shadow: 2px 2px 4px #F8C8A0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6vw;
}

#mainNavBar ul {
    list-style-type: none;
    display: inline-block;
    column-gap: 6vh;
    display: flex;
}

#mainNavBar ul li:hover a {
    color: #FCE9D9;
}

#recipe:after {
    content: 'Recipes';
}

#lactose:after {
    content: 'Lactose-free';
}

#gluten:after {
    content: 'Gluten-free';
}

#nuts:after {
    content: 'Nuts-free';
}

.search-bar {
    max-width: 30em;
    flex-shrink: 3;
    justify-self: flex-end;
    position: relative;
    left: 1.2rem;
}

.search-bar input {
    background: transparent;
    background: #fff;
    border-radius: 0.9em 0 0 0.9em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    padding: 0.75em;
    position: relative;
    transform: scale(1);
    border-color: white;
    position: relative;
    top: .5rem;
}

.search-btn {
    background: #CD640E;
    font-family: Lato;
    font-weight: bold;
    border-radius: 0 1em 1em 0 / 0 1em 1em 0;
    padding: 0.75em;
    color: white;
    border-color: white;
    position: relative;
    top: .5rem;
    transform: translate(-0.5em, -0.5em);
    transform-origin: 0 50%;
}

.searchbtnResponsive {
    display: none;
    width: 6.3vw;
    height: 6vw;
    right: 0;
    margin-left: 3rem;
}

.aside {
    width: 16.5%;
    position: fixed;
    top: 12vh;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    position: fixed;
    top: 9vh;
    border: 3px solid #fff;
    padding: .2rem;
    border-radius: 5px;
    background-color: #F2964B;
    margin: .5rem;
    z-index: 1;
}

.bar {
    width: 100%;
    height: .2rem;
    border-radius: 6px;
    background-color: #fff;
}

.divider {
    width: 90%;
    height: .2rem;
    background-color: white;
    margin: auto;
    position: relative;
    top: 1.5rem;
    border-radius: 5rem;
}

.extraMarginDividers {
    margin-top: 1rem;
    
}

.filter {
    position: relative;
    top: .3rem;
    background-color: #F5B17A;
    padding: 0 .6rem 0;
    display: table;
    margin: auto;
    margin-bottom: 0.3rem;
}

.filter:after,
.filter:before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1.3em;
    width: 100%;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    
}

.filter:before {
    border-left: 1px solid;
    border-right: 1px solid;
    transform: scale(1, 0);
}

.filter:after {
    border-bottom: 1px solid;
    border-top: 1px solid;
    transform: scale(0, 1);
}

.filter:hover:after,
.filter:hover:before {
    opacity: 1;
    transform: scale(1);
}

.hidden-div {
    visibility: visible;
    max-height: fit-content;
    transition: visibility .35s, max-height .35s ease-out;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
}

.hidden-div.hidden {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: visibility .35s, max-height .35s ease-in;
}

label {
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    margin: 1vh;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #442105;
}
select {
    width: 75%;
    height: 2.6rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
    background-color: #FBDEC6;
    border: none;
    border-radius: .3rem;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-size: 1.3rem;
    display: block;
    
}

input[type="checkbox"] {
    margin-left: .5rem;
    margin-top: 1.5rem;
    
}

input[type="radio"] {
    margin-left: .5rem;
    margin-top: 1.5rem;
}

.options {
    color: black;
    margin-left: .5rem;
    text-shadow: none;
}

#filterFlexColumn {
    flex-direction: column;
}

.timeParagraphs {
    text-shadow: 2px 2px 4px #442105;
    font-size: large;
    
}

.textInputBoxes {
    width: 20%;
    height: 3vh;
    background-color: #FBDEC6;
    border: none;
    border-radius: .3rem;
    font-family: Lato;
    font-weight: bold;
    padding-left: .5rem;
}

.articles {
    margin-top: 12vh;
    float: right;
    width: 83.5%;
    padding: 10px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fbdec6;
}

.articles a{
    margin: 1vh;
    padding: 1.4rem;
    max-width: 32%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateZ(0);
    transition: all 0.3s ease-in-out;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles a:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px, rgba(0, 0, 0, 0.3) 0px 14px 28px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
    transform: translate(0, -5px);
}
article h1,
article h3,
article p {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    margin-bottom: .3vh;
}

article h1{
    font-size: 3.5vh;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color .5s;
}

article:hover h1{
    text-decoration-color: #F2964B;
}

article h3{
    font-style: italic;
    font-weight: 600;
}

article p {
    text-align: justify;
}

.dessertImage {
    width: 60%;
    height: 30vh;
    object-fit: cover;
}

.temporal{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    pointer-events: none;
}

svg{
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: .5rem;
    fill: lightgray;
    z-index: 10;
    z-index: 10;
}

svg.checked{
    animation:like 0.5s 1;
    fill:red;
    stroke:none;
}

@keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.05); }
    100% { transform: scale(1.02); }
}

.miniData{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.7vh .9vh 3.6vh .9vh;
}

.miniData p {
    font-size: 2.2vh;
    font-weight: bold;
    margin-bottom: 2rem;
    font-style: italic;
    text-align: center;
}

.miniDataImages{
    position: absolute;
    width: 5vh;
    right: 4.5vh;
    margin-top: -1.3vh;
}

.difficulty{
    width: 4.5rem;
    right: .8rem; 
}

.pages {
    float: right;
    margin: auto;
    margin-bottom: rem;
    padding: 1rem;
    width: 83.5%;
    background-color: #fbdec6;
    text-align: center;
    font-size: larger;
}

.pages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pages li {
    margin: 0 10px;
}

.pages li a {
    color: #CD640E;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.pages li a:hover {
    background-color: #CD640E;
    color: #fff;
}

footer {
    padding: 0 1rem 0;
    clear: both;
    height: 12vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EF7A1A;
    z-index: 11;
}

@media screen and (max-height: 1050px) {
    .aside {
        height: 74.5vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #f5b17a;
    }
    
}

@media screen and (max-width: 950px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #F90;
        background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
    }
    
    .header h1 {
        display: none;
    }
    
    .header {

    }
    
    #weblogo {
        margin-left: .1rem;
        width: 16vw;
    }
    
    #mainNavBar ul {
        column-gap: 1.5vh;
    }
    
    #mainNavBar {
        margin-left: 0;
    }
    
    .search-bar {
        display: none;
    }
    
    .searchbtnResponsive {
        display: block;
    }
    
    #recipe:after {
        content: '';
        display: block;
        background-image: url('../media/navbar/recipe.png');
        background-size: 13.5vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 13.5vw;
        height: 9.5vh;
    }
    
    #lactose:after {
        content: '';
        display: block;
        background-image: url('../media/navbar/lactosefree.png');
        background-size: 13.5vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 13.5vw;
        ;
        height: 9.5vh;
    }
    
    #gluten:after {
        content: '';
        display: block;
        background-image: url('../media/navbar/glutenfree.png');
        background-size: 13.5vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 13.5vw;
        ;
        height: 9.5vh;
    }
    
    #nuts:after {
        content: '';
        display: block;
        background-image: url('../media/navbar/nutsfree.png ');
        background-size: 13.5vw;
        background-repeat: no-repeat;
        background-position: center;
        width: 13.5vw;
        ;
        height: 9.5vh;
    }
    
    #nuts li:after {
        width: 100%;
    }
    
    .search-bar input {
        display: none;
    }
    
    .articles {
        width: auto;
    }
    
    .articles a {
        max-width: 100%;
        margin: .5VH;
    }

    .difficulty{
        right: 0; 
    }

    label {
        font-size: 1rem;
    }
    
    .hamburger-menu {
        display: flex;
    }
    
    .aside {
        display: none;
        top: 18vh;
        width: 32.5%;
        height: 84.5vh;
        overflow: scroll;
    }
    
    .filter {
        padding: 0 .2rem 0;
    }
    
    .divider {
        top: 1.1rem;
    }
    
    input[type="checkbox"] {
        margin-top: 1rem;
    }
    
    input[type="radio"] {
        margin-top: 1rem;
    }
    
    .show {
        display: block;
    }
    
    #timeResponsive {
        flex-direction: column;
        margin-left: 1rem;
    }
    
    .textInputBoxes {
        width: 90%;
    }

    .miniDataImages{
        right: 3.4vh;
    }

    .difficulty{
        right: 0; 
    }
    
    .pages {
        width: 100%;
    }
    
    .pages ul li:nth-child(n + 5):nth-child(-n + 6) {
        display: none;
    }
    
    footer {
        display: none;
    }
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-BlackItalic.ttf);
    font-weight: bolder;
    font-style: italic;
}